name: Build ESP32

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Arduino CLI
        uses: arduino/arduino-cli-action@v1

      - name: Set up ESP32 core
        run: |
          arduino-cli config init
          arduino-cli config set board_manager.additional_urls https://espressif.github.io/arduino-esp32/package_esp32_index.json
          arduino-cli core update-index
          arduino-cli core install esp32:esp32

      - name: Compile ESP32 sketch
        run: |
          arduino-cli compile \
            --fqbn esp32:esp32:esp32 \
            ./src/main.ino          --warnings all \
          /src
