name: ESP32 Build

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install PlatformIO + esptool
        run: |
          pip install platformio
          pip install esptool

      - name: Build firmware
        run: pio run

      - name: Merge full flash image
        run: |
          esptool.py --chip esp32 merge_bin \
            -o full_flash.bin \
            0x1000 .pio/build/*/bootloader.bin \
            0x8000 .pio/build/*/partitions.bin \
            0x10000 .pio/build/*/firmware.bin

      - name: Upload merged flash
        uses: actions/upload-artifact@v4
        with:
          name: full_flash
          path: full_flash.bin
